<div class="cats">
    
    {{#each people}}
        <div class="person">
            {{name}} ... {{age}}
        </div>
    {{else}}
        No people :(
    {{/each}}
    
</div>

<p>
    <a href="/new">Add a person</a>
</p>

<p>
    <a href="/about">About this site</a>
</p>
