<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
    <form action="/create">
    
        <input type="hidden" name="number" value="<%= number %>">
        <textarea name="text" maxlength="<%= maxlength %>"></textarea><br>
        Character count for <%= number %>: <%= maxlength %><br>
        <input type="submit">
        <a href="/">Cancel</a>
    
    </form>

  </body>
</html>
