<!-- 
When the user presses "Submit" in the form, the content of the form fields
will be added to the end of "/create" (the action specified in the <form> tag),
and the resulting URL will be requested from the server. For example the URL
might be 
/create?width=25&height=25&top=25&left=25&color=#ff0000
You can try entering a URL like this directly into the browser. It does the same
thing as filling in the form and pressing "Submit".
-->

<form action="/create">
    
    <!-- The "name" attribute determines the name of the attribute in the URL -->
    Preposition <input type="text" name="preposition"><br>
    
    Noun <input type="text" name="noun"><br>

    <!-- Here's the submit button -->
    <input type="submit"> 
    
    <!-- This is just a normal link back to the home page -->
    <a href="/">Cancel</a>
    
    <!--
    Available HTML tags for form fields:
    http://www.w3schools.com/html/html_form_elements.asp
    
    More info:
    https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms
    -->
    
</form>
